@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 100;
  /*font-display: swap;*/
  src: local(''),
  url(fonts/public-sans-v4-latin-100.woff2) format('woff2'),
  url(fonts/public-sans-v4-latin-100.woff) format('woff');
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  /*font-display: swap;*/
  src: local(''),
  url(fonts/public-sans-v4-latin-regular.woff2) format('woff2'),
  url(fonts/public-sans-v4-latin-regular.woff) format('woff');
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  /*font-display: swap;*/
  src: local(''),
  url(fonts/public-sans-v4-latin-700.woff2) format('woff2'),
  url(fonts/public-sans-v4-latin-700.woff) format('woff');
}
@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  /*font-display: swap;*/
  src: local('DM Serif Display Regular'), local('DMSerifDisplay-Regular'),
  url(fonts/dm-serif-display-v4-latin-regular.woff2) format('woff2'),
  url(fonts/dm-serif-display-v4-latin-regular.woff) format('woff');
}
* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 1440px;
}
a {
  font-family: 'Public Sans', 'Trebuchet MS', sans-serif;
  font-size: 15px;
  text-decoration: none;
}
h1 {
  color: #36536B;
  font-family: 'DM Serif Display', 'Trebuchet MS', sans-serif;
  font-weight: 400;
}
h2 {
  font-family: 'DM Serif Display', 'Trebuchet MS', sans-serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -0.37px;
  line-height: 56px;
}
p {
  font-family: 'Public Sans', 'Trebuchet MS', sans-serif;
  font-size: 15px;
}
.page-wrap {
  background-color: #EDF3F8;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* END OF DEFAULTS */

/* HOME Page */
header.home {
  height: 735px;
  margin: 0 auto;
  position: relative;
  width: 1110px;
}
nav {
  align-items: center;
  display: flex;
  position: relative;
}
.top.home {
  height: 48px;
  padding: 40px 0 152px;
}
nav a.logo {
  /* selector adds more specificity */
  padding-right: 64.34px;
}
.top a {
  color: #36536BB3;
  font-weight: 700;
  padding-right: 40px;
}
a.a-button-all {
  background: #BA4270;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  box-sizing: border-box;
  color: #FBFCFE;
  font-weight: 700;
  height: 48px;
  letter-spacing: 0.12px;
  padding: 16px 0 0 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 173px;
}
.circlebg-header {
  position: absolute;
  right: -132px;
  top: -172px;
}
.phone-img {
  position: absolute;
  right: 260px;
  top: 107px;
}
h1.home {
  height: 243px;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -0.55px;
  padding-bottom: 21px;
  width: 546px;
}
div.p-button {
  background: #FBFCFE;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  display: flex;
  height: 48px;
  position: relative;
  width: 445px;
}
.p-button > p {
  font-weight: 700;
  color: #36536B80;
  padding-left: 27px;
  padding-top: 15px;
}
/* SIBLING selector (+) */
div.p-button + a {
  color: #6C8294;
  display: block;
  font-weight: 400;
  margin-top: 16px;
  padding-left: 27px;
}
.work {
  align-items: center;
  background-color: #1B262F;
  color: #FBFCFE;
  display: flex;
  height: 472px;
  justify-content: center;
  position: relative;
}
.work > img {
  clip-path: inset(359px 0 0 0);
  left: -208px;
  top: -359px;
  position: absolute;
}
div.work-text {
  padding-right: 131px;
  width: 445px;
}
.work-text h2 {
  padding-bottom: 24px;
}
.work-text p {
  font-weight: 100;
  line-height: 28px;
  opacity: 0.7;
  padding-bottom: 32px;
}
.work-text a {
  background: transparent;
  border: 1px solid #FBFCFE;
  border-radius: 24px;
  box-sizing: border-box;
  color: #FBFCFE;
  display: block;
  font-weight: 700;
  height: 48px;
  letter-spacing: 0.12px;
  padding: 16px 0 0 0;
  position: relative;
  text-align: center;
  width: 129px;
}
div.work-companies {
  align-items: center;
  display: inline-grid;
  gap: 39px 0;
  grid-template: 31px 33px / repeat(3, auto);
  height: 103px;
  justify-content: space-between;
  width: 536px;
}
/* used to center this item in it's grid column */
.centered {
  justify-self: center;
}
.easy-simple {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 94px auto 40px;
  position: relative;
  width: 1110px;
}
.easy-simple h2 {
  color: #36536B;
  padding-bottom: 24px;
}
.easy-simple p {
  color: #6C8294;
  font-weight: 100;
  line-height: 28px;
}
.easy-simple > img {
  position: absolute;
  right: -560px;
  top: 350px;
}
.row {
  display: flex;
}
.row-1 img {
  left: -55px;
  position: relative;
}
.row-1-text {
  padding-top: 116px;
  margin-left: -36px;
  width: 445px;
}
.row-2 {
  margin-top: -10px;
}
.row-2-text {
  flex-shrink: 0;
  padding-top: 237px;
  width: 445px;
}
.row-2 img {
  left: 43px;
  flex-shrink: 0;
  position: relative;
}
.uses {
  display: flex;
  height: 279px;
  justify-content: space-between;
  margin: 0 auto 96px;
  width: 1110px;
}
.uses > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  text-align: center;
  width: 350px;
}
.uses h3 {
  color: #36536B;
  font-family: 'Public Sans', 'Trebuchet MS', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.14px;
  line-height: 25px;
  padding: 32px 0 16px;
}
.uses p {
  color: #6C8294;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: -0.12px;
}
.ready-wrap {
  background-color: #EDF3F8;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 2;
}
.ready {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 96px;
  width: 1110px;
}
.ready h2 {
  color: #36536B;
}
footer {
  background: #1B262F;
  height: 100px;
  position: relative;
}
.bottom {
  height: 38px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 31px 0 12px;
  width: 1110px;
}
.bottom a {
  color: #FBFCFEB3;
  font-weight: 700;
  padding-right: 40px;
}
.nav-left {
  align-items: center;
  display: flex;
  width: 432px;
}
.nav-left > * {
  flex-shrink: 0;
}
.icons {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
.attribution {
  color: #EDF3F8;
  font-size: 12px;
  padding-bottom: 10px;
  text-align: center;
}
.attribution a {
  color: #BA4270;
  font-size: 13px;
  padding: 0;
}
.circlebg-footer {
  position: absolute;
  bottom: -544px;
  right: -390px;
  z-index: 1;
}
/* END OF Home Page */

/* ABOUT Page */
header.about {
  height: 762px;
  margin: 0 auto;
  position: relative;
  width: 1110px;
}
.top.others {
  height: 48px;
  padding: 40px 0 82px;
}
.about h1 {
  height: 189px;
  font-size: 56px;
  letter-spacing: -0.43px;
  line-height: 56px;
  padding-bottom: 51px;
  width: 730px;
}
.circlebg-others {
  position: absolute;
  right: -140px;
  top: -527px;
}
.subheader {
  display: flex;
  flex-direction: column;
  height: 492px;
  margin: 0 auto;
  width: 921px;
}
.subheader > span {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* : applies to both spans in
.subheader & .more-about sections : */
span h3 {
  color: #36536B;
  flex-shrink: 0;
  font-family: 'DM Serif Display', 'Trebuchet MS', sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -0.25px;
  line-height: 40px;
}
span p {
  color: #6C8294;
  flex-shrink: 0;
  font-weight: 100;
  line-height: 28px;
  width: 635px;
}
span > .p-padding {
  padding-bottom: 56px;
}
/* : ------ : */

div.middle-img {
  background-image: url(assets/about/desktop/image-team-members.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}
.circlebg-middle {
  left: -520px;
  top: 622px;
  position: absolute;
}
div.members {
  align-items: center;
  display: flex;
  height: 134px;
  justify-content: space-between;
  margin: 72px auto;
  width: 1110px;
}
.members-item {
  height: 134px;
  border-bottom: 1px solid #36536B40;
  border-top: 1px solid #36536B40;
  width: 350px;
}
.members-item > span {
  color: #36536BB3;
  display: block;
  font-family: 'Public Sans', 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  padding-top: 16px;
}
.members-item > h3 {
  color: #BA4270;
  font-family: 'DM Serif Display', 'Trebuchet MS', sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 72px;
  padding-bottom: 16px;
}
div.more-about {
  display: flex;
  flex-direction: column;
  height: 224px;
  justify-content: space-between;
  margin: 0 auto 100px;
  width: 920px;
}
.more-about > span {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* .ready and footer sections
of ABOUT already set from Home Page */
/** END OF ABOUT PAGE **/

/** PRICING **/
header.pricing {
  height: 226px;
  margin: 0 auto 72px;
  position: relative;
  width: 1110px;
}

/* top nav styles already set,
same as ABOUT page */

.pricing h1 {
  font-size: 56px;
  height: 56px;
  letter-spacing: -0.43px;
}
div.plans {
  display: flex;
  height: 582px;
  justify-content: space-between;
  margin: 0 auto 96px;
  width: 1110px;
}
.plans-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 350px;
}
.plans-item h3 {
  color: #BA4270;
  font-family: 'DM Serif Display', 'Trebuchet MS', sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -0.25px;
  line-height: 40px;
  padding-bottom: 16px;
}
.plans-item p {
  color: #6C8294;
  line-height: 28px;
  font-weight: 100;
  padding-bottom: 8px;
}
.plans-item h1 {
  font-size: 56px;
  line-height: 72px;
  letter-spacing: -0.43px;
  padding-bottom: 24px;
}
.plans-item span {
  align-items: flex-start;
  border-bottom: 1px solid #36536B40;
  border-top: 1px solid #36536B40;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 293px;
  justify-content: space-between;
  padding: 24px 0;
  width: 100%;
}
.plans-item img {
  padding-right: 24px;
}
.plans-item h5 {
  color: #36536B;
  font-family: 'Public Sans', 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
}
h5.not-checked {
  color: #36536B80;
  padding-left: 36px;
}
.plans-item a {
  background: transparent;
  border: 1px solid #36536B;
  box-sizing: border-box;
  color: #36536B;
  margin-top: 24px;
  width: 168px;
}

/* .ready and footer sections
of PRICING already set from HOME Page */
/** END OF PRICING PAGE **/

/** CONTACT **/
header.contact {
  height: 303px;
  margin: 0 auto 43px;
  position: relative;
  width: 1110px;
}

/* top nav styles already set,
same as ABOUT/PRICING page */

.contact h1 {
  height: 133px;
  font-size: 56px;
  letter-spacing: -0.43px;
  line-height: 56px;
  width: 730px;
}
section.flex {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 93px;
  width: 1110px;
}
form.section-left {
  font-family: 'Public Sans', 'Trebuchet MS', sans-serif;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: -0.12px;
  width: 445px;
}
/* INPUT & TEXTAREA styles */
input[type=text], input[type=email], textarea {
  background-color: #EDF3F8;
  border-bottom: 1px solid #36536B80;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  box-sizing: border-box;
  color: #36536B80;
  font: inherit;
  height: 42px;
  letter-spacing: inherit;
  line-height: 25px;
  margin-bottom: 24px;
  padding-left: 20px;
  width: 100%;
}
textarea {
  height: 89px;
}
div.checkbox-wrap {
  height: 50px;
  margin-bottom: 24px;
  width: 100%;
}
label {
  color: #36536B;
  display: inline-block;
  line-height: 25px;
  padding-left: 26px;
  width: 395px;
}
input[type="checkbox"] {
  appearance: none;
  background-color: #36536B40;
  border: 0;
  bottom: 6px;
  height: 24px;
  position: relative;
  width: 24px;
}
input[type="submit"] {
  background-color: transparent;
  border: 1px solid #36536B;
  border-radius: 24px;
  box-sizing: border-box;
  color: #36536B;
  letter-spacing: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  height: 48px;
  width: 152px;
}
div.section-right {
  height: 208px;
  padding-top: 122px;
  width: 541px;
}
.section-right h3 {
  color: #36536B;
  font-family: 'DM Serif Display', 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight: 400;
  height: 64px;
  letter-spacing: -0.18px;
  line-height: 32px;
  opacity: 0.75;
  padding-bottom: 40px;
  width: 445px;
}
div.companies-right {
  align-items: center;
  display: inline-grid;
  gap: 40px 0;
  grid-template: 31px 33px / repeat(3, auto);
  height: 104px;
  justify-content: space-between;
  width: 541px;
}
/* changes Fill color of SVG file */
img.filtered-blue {
  filter: brightness(0) saturate(100%) invert(29%) sepia(33%) saturate(592%) hue-rotate(165deg) brightness(92%) contrast(90%);
}
