* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 100;
    src: local(''),
    url('../fonts/public-sans-v4-latin-100.woff2') format('woff2'),
    url('../fonts/public-sans-v4-latin-100.woff') format('woff');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/public-sans-v4-latin-regular.woff2') format('woff2'),
    url('../fonts/public-sans-v4-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/public-sans-v4-latin-700.woff2') format('woff2'),
    url('../fonts/public-sans-v4-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: local('DM Serif Display Regular'), local('DMSerifDisplay-Regular'),
    url('../fonts/dm-serif-display-v4-latin-regular.woff2') format('woff2'),
    url('../fonts/dm-serif-display-v4-latin-regular.woff') format('woff');
}
button, input {
    border: none;
    font: inherit;
    line-height: normal;
}
body {
    max-width: 1440px;
    background-color: #EDF3F8;
}

/*
HEADER
*/

header > nav {
    margin: 40px auto 74px;
    display: flex;
    align-items: center;
    width: 1110px;
    height: 48px;
    position: relative;
}
.logo {
    padding-right: 64.34px;
}
nav > button {
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.12px;
    position: absolute;
    right: 0;
    width: 173px;
    height: 48px;
    background: #BA4270;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
    color: #fbfcfe;
}

